{% extends 'base.html'%}
{% load static %}
{% block content %}
<style>
    .cf2
    {
        padding-bottom: 25px;
        background: url("{% static 'images/hero-2.jpg'%}");
        background-size: cover;
        background-position: center;
    }
    .su
    {
        margin-top: 30px;
        font-size: 18px;
        color: white;
    }
    .sbtn
    {
        padding: 1% 5%;
        margin-top: 20px;
        background: white;
        border:1px solid white;
        color:white;
        border-radius: 3px;
        font-size: 20px;
        transition: all ease-in .3s;
        background: transparent;
    }
    .sbtn:hover
    {
        background: aqua;
        color: white;
        transition: all ease-in .3s;

    }
    .rs
    {
        background:rgba(256,256,256,.2);
        padding: 50px 50px;
        box-shadow: 2px 2px 5px 2px white ;
        background: transparent;
    }
    .txt
    {
        border:1px solid gray;
        border-radius: 3px;
        height: 45px;
    }
    .txt1
    {
        height:45px ;
        width: 45px;
        border: 1px solid gray;
        color: white;
        background: aqua;
        font-size: 22px;
    }
</style>
<div class="container-fluid cf2">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 fs-2 text-center pb-3 pt-2"><span style="text-decoration: underline aqua;color: white;">REGISTER</span> <b style="color:aqua">HERE <i class="fa-solid fa-user-plus"></i></b></div>
            </div>
            <div class="row">
                <div class="col-sm-9 mx-auto rs">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6 su">
                            Your Name : <br/>
                                <div class="input-group">
                                    <i class="input-group-text bg-bcolor text-light txt1"><i class="fa-solid fa-user"></i></i>
                                    <input type="text" name="name" class="form-control txt" placeholder="Enter Your Name* ">
                                </div>
                        </div>
                        <div class="col-sm-6 su">
                            Mobile No : <br/>
                                <div class="input-group">
                                    <i class="input-group-text bg-bcolor text-light txt1"><i class="fa-solid fa-phone"></i></i>
                                    <input type="text" name="mob" class="form-control txt" placeholder="Enter Your Mobile Number* ">
                                </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 su">
                            Email : <br/>
                                <div class="input-group">
                                    <i class="input-group-text bg-bcolor text-light txt1"><i class="fa-solid fa-envelope"></i></i>
                                    <input type="email" name="email" class="form-control txt" placeholder="Enter Your Email Id* ">
                                </div>
                        </div>
                        <div class="col-sm-6 su">
                            Password : <br/>
                                <div class="input-group">
                                    <i class="input-group-text bg-bcolor text-light txt1"><i class="fa-solid fa-lock"></i></i>
                                    <input type="password" name="passwd" autocomplete="off" class="form-control txt" placeholder="Enter Your Password* ">
                                </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 su">
                            Confirm Password : <br/>
                                <div class="input-group">
                                    <i class="input-group-text bg-bcolor text-light txt1"><i class="fa-solid fa-key"></i></i>
                                    <input type="password" name="cpasswd" autocomplete="off" class="form-control txt" placeholder="Enter Your Confirm Password* ">
                                </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 su">
                            Your Address : <br><textarea name="msg" class="form-control" rows="3" placeholder="Enter Your Address*"></textarea>
                        </div>
                        <div class="col-sm-6 su">
                            Image :<br/>
                            <input type="file" class="form-control" name="ig" >
                        </div>
                    </div>
                            <input type="submit" value="REGISTER" class="btn sbtn">
                    </form>    
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}